@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap');
@import url('https://geisthub.vercel.app/font/Geist.css');
@import "tailwindcss";


@theme {
  --background: #ffffff;
  --foreground: #171717;

  --color-eclipse-black: #1b1b1b;
  --color-monlight-gray: #a8a9ad;
  --color-main-blue: #2065A2;
  --color-astral-blue: #24476c;
  --color-midnight-navy: #0a122a;
  --color-stardust-white: #e6e8e6;

  --font-outfit: 'Outfit', sans-serif;
  --font-raleway: 'Raleway', sans-serif;
  --font-geist: 'Geist', sans-serif;
}


body {
  background: var(--color-stardust-white);
  color: var(--color-eclipse-black);
  font-family: var(--font-geist);
}